
<center>
<h1 class="plavi">Hello <br>World</h1>
</center>


<h1 class="plavi">Hello World</h1>
<h1 id="zuti">Hello World</h1>
<p class="zeleni">neki tekst paragraf</p>
<p class="zeleni">neki tekst paragraf</p>
<p class="zeleni">neki tekst paragraf</p>
<p class="plavi">neki tekst paragraf</p>
<p class="plavi">neki tekst paragraf</p>


<hr>

<ul>
<li>prvi</li>
<li>drugi</li>
<li>treci</li>
</ul>

<ol>
<li>prvi</li>
<li>drugi</li>
<li>treci</li>
</ol>


<table>

<tr>
<th>ponedjeljak</th>
<th>utorak</th>
<th>srijeda</th>
</tr>


<tr>
<td>podatak 1</td>
<td>podatak 2</td>
<td>podatak 4</td>
</tr>

<tr>
<td>podatak 1</td>
<td>podatak 2</td>
<td>podatak 3</td>
</tr>

</table>

<img src="https://www.gannett-cdn.com/-mm-/50b9fc97198708b59e16a0c3d3abd594ca2c381f/c=215-0-3650-2576&r=x404&c=534x401/local/-/media/2016/09/24/Indianapolis/B9323964751Z.1_20160924224133_000_GFFFQS28R.1-0.jpg">




<style>

.plavi {
    color:blue;
}

.zeleni {
    color:green;
}

#zuti {
    color:yellow;
}

img {
    border: 2px solid black;
    margin-left: 100px;
    padding-top: 200px;
}
</style>